:root {
  touch-action: pan-x pan-y;
  height: 100%;
  --primary-color:  white;
  --secondary-color: black;
  --secondary-border: 2px solid var(--secondary-color);
  --pad: 1rem;
  --shadow-light: box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.43);
}
@font-face {
  font-family: "Departure";
  src: url("./font/DepartureMono.otf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--secondary-color);
  background: var(--primary-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    "Departure",
    monospace,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input, select {
  font-family:
    "Departure",
    monospace,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}


nav {
  @media screen and (max-width: 500px) {
    font-size: 80%;
    flex-wrap: wrap;
  }
  padding: 1rem;
  display: flex;
  align-content:start;
  gap: 1rem;

  a {
    white-space: nowrap;
    text-decoration: none;
    color: var(--secondary-color);
    padding: .25rem .5rem;
    border: var(--secondary-border);
    border-radius: 3px;
  }

  a:active {
    -webkit-box-shadow: inset 4px 4px 19px -8px rgba(0,0,0,0.43);
    -moz-box-shadow: inset 4px 4px 19px -8px rgba(0,0,0,0.43);
    box-shadow: inset 4px 4px 19px -8px rgba(0,0,0,0.43);
  }
}

/* Bug Type */
.bug {
  background-color: #A8B820;
}

/* Dark Type */
.dark {
  background-color: #705848;
}

/* Dragon Type */
.dragon {
  background-color: #7038F8;
}

/* Electric Type */
.electric {
  background-color: #F8D030;
}

/* Fairy Type */
.fairy {
  background-color: #EE99AC;
}

/* Fighting Type */
.fighting {
  background-color: #C03028;
}

/* Fire Type */
.fire {
  background-color: #F08030;
}

/* Flying Type */
.flying {
  background-color: #A890F0;
}

/* Ghost Type */
.ghost {
  background-color: #705898;
}

/* Grass Type */
.grass {
  background-color: #78C850;
}

/* Ground Type */
.ground {
  background-color: #E0C068;
}

/* Ice Type */
.ice {
  background-color: #98D8D8;
}

/* Normal Type */
.normal {
  background-color: #A8A878;
}

/* Poison Type */
.poison {
  background-color: #A040A0;
}

/* Psychic Type */
.psychic {
  background-color: #F85888;
}

/* Rock Type */
.rock {
  background-color: #B8A038;
}

/* Steel Type */
.steel {
  background-color: #B8B8D0;
}

/* Water Type */
.water {
  background-color: #6890F0;
}

/* some helper classes */

.mtop {
  margin-top: 1rem;
}
.mright {
  margin-right: 1rem;
}
.mbottom {
  margin-bottom: 1rem;
}
.mleft {
  margin-left: 1rem;
}