@import './base.css';
  
input {
  border: var(--secondary-border);
  color: var(--secondary-color);
  border-radius: 5px;
  padding: .3rem .5rem;
  background: var(--primary-color);
}
.calc-container {
  margin-bottom: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-top {
  display: flex;
  justify-content: center;
  align-items: start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.basic-border {
  border:var(--secondary-border);
}

.gap-sm {
  gap: .5rem;
}
.clamp-width {
  width: clamp(12rem, 50%, 300px);
}
input[type="text"], input[type="number"] {
  box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.43);
}

input[type="button"]{
  color: var(--secondary-color);
  font-weight: 800;
}
input[type="button"]:active {
  box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.43);

}

.button-fix {
  display: flex;
  flex-direction: column;
}
select {
  color: var(--secondary-color);
  background: var(--primary-color);
  border: var(--secondary-border);
  border-radius: 5px;
  padding: .3rem .4rem;
}
.medium-wide {
  width: 14ch;
}

select:focus {
  box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.43);
}
.items {
  margin-top: 1rem;

}
@media screen and (min-width: 501px) {
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .pkmn-container {
    width: clamp(350px, 25%, 500px);
  }
  .berry-container {
    width: clamp(350px, 25%, 500px);
  }
}

@media screen and (max-width: 500px) {
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .pkmn-container, .berry-container {
    width:calc(100vw - 2rem) ;
  }
  
}

.pkmn-container {
    /* width:min-content; */
    height: auto;
    border-radius: 5px;
    padding: .5rem;
    /* margin-bottom: 1rem; */
    border:var(--secondary-border);
    .pkmn-sprite {
      box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.93);
    }
    .pkmn-sprite-container {
      border: var(--secondary-border);
      border-radius: 5px;
      width: 68px;
      height: 68px;
      box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.93);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 75%;
    }
    input[type="text"].nickname {
      position: relative;
      top:-11px;
      left: -4px;
      border-radius: 5px;
      background:var(--secondary-color);
      border: var(--secondary-border);
      color: var(--primary-color);
      padding: .1rem .2rem;
      font-size: 7pt;
      font-weight: bold;
      line-height: .4;
      width: auto;
      text-align: center;
      box-shadow: none;
    }

    input[type="text"].nickname:focus {
      box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.43);
    }

    .stats {
      .stat-row {
        margin: .4rem 0rem;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: start;
        width: 100%;
      }
      margin: .5rem 0rem;
      .readout {
        width: 6ch;
      }
    }
    .icon-nature-row {
      display: flex;
      flex-direction: row;
      /* grid-template-areas: "a a";
      grid-auto-columns: min-content; */
      gap: .6rem;

      .level-row {
        display: flex;
        justify-content: space-between;
        .types {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }

    .level-nature-stack {
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      align-content: space-between;
      flex: 1;
      width: max-content;
      .level-type {
        gap: .2rem;
        display: flex;
        flex-direction: row;
      }

      .type-bar {
        text-align: center;
        color: var(--primary-color);
        box-shadow: inset 0px 6px 5px 0px rgba(255,255,255,0.38);
        width: 50px;
        height: 45%;
        font-size: 6pt;
        line-height: 1.2;
        text-shadow: 0px 0px 1px black, 0px 0px 2px black;
        border: var(--secondary-border);
        border-radius: 5px;
      }
    }

    .lvl-val {
      width: 8ch;
      height: min-content;
    }

    .ev-val {
      width: 6ch;
      font-size: 8pt;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: none;
    }

    .iv-val {
      font-size: 8pt;
      width: 5ch;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

  }

  .pkmn-sprite {
    padding: 5px;
    border: var(--secondary-border);
    border-radius: 5px;
  }

  .ability-and-item-row {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: clamp(7rem, 50%, 300px);
  }

  .stat-bar {
    width: 200px;
    margin: .2rem .4rem;
    border-radius: 5px;
    border: var(--secondary-border);
    height: 15px;
    background: var(--secondary-color);
    transition: all .4s cubic-bezier(.02,.96,.23,.97);
    display: flex;
    align-items: center;
    justify-content: start;
    
    .inner-bar {
      text-align:center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      position: relative;
      left: -2px;
      height: 15px;
      border: 2px solid black;
    }
}


.hp {
  background-color: rgba(102, 204, 102, 1); /* Richer Pastel Green */
}

.attack {
  background-color: rgba(255, 105, 135, 1); /* Richer Pastel Red */
}

.defense {
  background-color: rgba(135, 206, 250, 1); /* Richer Pastel Blue */
}

.specialAttack {
  background-color: rgba(186, 85, 211, 1); /* Richer Pastel Purple */
}

.specialDefense {
  background-color: rgba(100, 200, 200, 1); /* Richer Pastel Light Blue/Cyan */
}

.speed {
  background-color: rgba(255, 255, 102, 1); /* Richer Pastel Yellow */
}






/* damage calc ui */
@media screen and (min-width: 801px) {
  .calc-cards-container {
    flex-direction: row;
  }
  
}

@media screen and (max-width: 800px) {
  .calc-cards-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
    .card-container {
 
    }
    .switch-button {
      transform: rotate(90deg);
      border-bottom: 2px solid black;
      border-right: 4px solid black;
    }
    .switch-button:active {
      border-right: 2px solid black;
    }
  }
}

.calc-cards-container {
  transition: .3s all ease-out;
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .fake-pkmn-container {
      border: 2px dashed rgba(0,0,0, .2);
      height: 400px;
  }
}

.switch-button {
  border: var(--secondary-border);
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .3rem;
  border-bottom: 4px solid black;

  .arrow {
    border-radius: 3px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 13px;
    height: 13px;
  }
  .left {
    transform: rotate(-45deg);
  }
  .right {
    transform: rotate(135deg);
  }
}

.switch-button:active {
  position: relative;
  top: 2px;
  border-bottom: 2px solid black;
  box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.43);
}





/* berry timer ui */

.builder-row {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 501px) {
  .seed-row {
    width: 200px;
    /* gap: 1rem; */
    margin-right: 1rem;
  }
 
  .builder-row {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.dropdown-submit-row {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
.seed-row {
  border: var(--secondary-border);
  border-radius: 5px;
  padding: 1rem;

  display: grid;
  justify-items: center;
  grid-template-areas: "a a";
  margin-bottom: .5rem;
  input[type="number"] {
    width: 8ch; 
  }

  .seed-col {
    label {
      word-wrap:normal;
      font-size: 8pt;
      line-height: .8;
      margin-bottom: -10px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
 }

.berry-container {
  /* width: 100%; */
  height: auto;
  border-radius: 5px;
  padding: .5rem;
  margin-bottom: 1rem;
  border:var(--secondary-border);
  
  .stat-row {
    /* margin: .5rem 0rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .label-row {
    margin: 0rem 0rem -.5rem 4rem;
  }
  .right-label {
    font-weight: 800;
    height: 35px;
    font-size: 10pt;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    padding: .2rem .6rem;
    width: 90px;
  }

  .icon-nature-row {
    width: 100%;
    margin-bottom: 0rem;

    .berry-icon-stack {
      display: flex;
      flex-direction: column;

      .berry-sprite {
        border: var(--secondary-border);
        width: 3rem;
        height: 3rem;
        padding: .3rem;
        border-radius: 30rem;
        box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.53);

      }

      .berry-name {
        text-align: center;
        background: var(--primary-color);
        position: relative;
        width: 3rem;
        top:-10px;
        font-size: 8pt;
        line-height: 100%;
        border: var(--secondary-border);
        background: black;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        padding: 0rem .3rem;
      }
    }
    
    .level-row {
      display: flex;
      justify-content: space-between;
      .types {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

.timer-button {
  transition: background-color .1s ease-in;
  width: 2.5rem;
  height: 2.5rem;
  border: var(--secondary-border);
  border-radius: 5px;
  padding: 1rem;
}

.timer-button:active {
  position: relative;
  box-shadow: inset 0px 0px 19px -8px rgba(0,0,0,0.8);
}

.water-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22pt;
  width: 2.5rem;
  height: 2.5rem;
  border: var(--secondary-border);
  border-radius: 5px;
  padding: 1rem;
  background: rgb(83, 170, 246) url('../assets/img/water.png');
  background-size:50%;
  background-repeat:no-repeat;
  background-position: center;
}
.water-button:active {
  position: relative;
  box-shadow: inset 0px 0px 19px -8px rgba(0,0,0,0.8);
}

.stopped {
  /* background: grey; */
  background:rgba(55, 219, 121, 0.8) url('../assets/play.png');
  background-size:70%;
  background-repeat:no-repeat;
  background-position: center;

}
.running {
  /* background: red; */
  background: rgba(250, 65, 65, 0.837) url('../assets/pause.png');
  background-size:40%;
  background-repeat:no-repeat;
  background-position: center; 
}

.timer-bar {
  width: 150px;
  margin: .2rem .4rem;
  border-radius: 5px;
  border: var(--secondary-border);
  height: 15px;
  background: var(--secondary-color);
  transition: all .4s cubic-bezier(.02,.96,.23,.97);
  display: flex;
  align-items: center;
  justify-content: start;
  
  .inner-bar {
    position: relative;
    margin-left: 2px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    left: -2px;
    height: 11px;
  }
}