@import './base.css';
  
input {
  border: var(--secondary-border);
  border-radius: 5px;
  padding: .3rem .5rem;
  background: var(--primary-color);
}

input[type="text"], input[type="number"] {
  box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.43);
}

input[type="button"]{

  font-weight: 800;
}
input[type="button"]:active {
  box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.43);

}
select {
  background: white;
  border: var(--secondary-border);
  border-radius: 5px;
  padding: .3rem .4rem;
}
.medium-wide {
  width: 14ch;
}

select:focus {
  box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.43);
}
.items {
  margin-top: 1rem;

}
@media screen and (min-width: 1100px) {
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .pkmn-container {
    width: calc(350px, 25%, 500px);
  }
}

@media screen and (max-width: 1099px) {
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  /* .pkmn-container {
    min-width: calc(350px, 50%, 500px);
  } */
}
@media screen and (max-width: 500px) {
  .items {
    display: flex;
  }

  .pkmn-container {
    width: 100vh;
  }
}

.pkmn-container {
    /* width:min-content; */
    height: auto;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: 1rem;
    border:var(--secondary-border);
    .pkmn-sprite {
      box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.93);
    }
    input[type="text"].nickname {
      position: relative;
      top:-11px;
      left: -4px;
      border-radius: 5px;
      background:white !important;
      border: var(--secondary-border);
      padding: .1rem .2rem;
      font-size: 7pt;
      line-height: .4;
      width: auto;
      
    }

    .stats {
      .stat-row {
        margin: .4rem 0rem;
        display: flex;
        flex-direction: row;
        align-items:center;
        width: 100%;
      }
      margin: .5rem 0rem;
      .readout {
        width: 6ch;
      }
    }
    .icon-nature-row {
      display: grid;
      grid-template-areas: "a a";
      grid-auto-columns: min-content;
      gap: .6rem;

      .level-row {
        display: flex;
        justify-content: space-between;
        .types {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }


    }
    .level-nature-stack {
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      align-content: space-between;
      .level-type {
        gap: .2rem;
        display: flex;
        flex-direction: row;
      }
      .type-bar {
        text-align: center;
        color: white;
        box-shadow: inset 0px 6px 5px 0px rgba(255,255,255,0.38);
        width: 50px;
        height: 45%;
        font-size: 6pt;
        line-height: 1;
        text-shadow: 0px 0px 1px black, 0px 0px 2px black;
        border: var(--secondary-border);
        border-radius: 5px;
      }
    }
    .lvl-val {
      width: 8ch;
      height: min-content;
    }
    .ev-val {
      width: 6ch;
      font-size: 8pt;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: none;

    }
    .iv-val {
      font-size: 8pt;
      width: 5ch;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  .pkmn-sprite {
    padding: 5px;
    border: var(--secondary-border);
    border-radius: 5px;
  }
.stat-bar {
  margin: .2rem .4rem;
  border-radius: 5px;
  border: var(--secondary-border);
  height: 15px;
  background: orange;
  transition: all .4s cubic-bezier(.02,.96,.23,.97);
}

.hp {
  background-color: rgba(102, 204, 102, 1); /* Richer Pastel Green */
}

.attack {
  background-color: rgba(255, 105, 135, 1); /* Richer Pastel Red */
}

.defense {
  background-color: rgba(135, 206, 250, 1); /* Richer Pastel Blue */
}

.specialAttack {
  background-color: rgba(186, 85, 211, 1); /* Richer Pastel Purple */
}

.specialDefense {
  background-color: rgba(100, 200, 200, 1); /* Richer Pastel Light Blue/Cyan */
}

.speed {
  background-color: rgba(255, 255, 102, 1); /* Richer Pastel Yellow */
}




/* berry timer ui */
.seed-row {
  display: grid;
  align-items: start;
  grid-template-areas: "a a";
  grid-template-columns: 100px 100px;
  gap: 1.5rem;
  margin-bottom: .5rem;
  input[type="number"] {
    width: 8ch; 
  }


  .seed-col {
    label {
      word-wrap:normal;
      font-size: 8pt;
      line-height: .8;
      margin-bottom: -10px;
    }
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
 }
.berry-container {
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: .5rem;
  margin-bottom: 1rem;
  border:var(--secondary-border);
  .pkmn-sprite {
    box-shadow: inset 0px 4px 19px -8px rgba(0,0,0,0.93);
  }
  /* .name {
    position: relative;
    top:-11px;
    border-radius: 5px;
    background:white;
    border: 1px solid black;
    padding: .1rem .2rem;
    font-size: 7pt;
    line-height: .4;
    
  } */
 
  

}

